<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		body {
			margin-top: 20px;
			margin-bottom: 50px;
		}

		.navbar-fixed-bottom .table {
			margin-bottom: 0;
		}

		.navbar-fixed-bottom .btn {
			width: 100%;
		}

		.sembunyi {
			display: none;
		}

		.full {
			width: 100%;
		}

		.hapus {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
		{{ content }}
	</div>
	<br>
	<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/dexie/dexie.js"></script>
	<script type="text/javascript" src="vendor/marked/marked.min.js"></script>
	<script type="text/javascript">
		$.expr[':'].contains = $.expr.createPseudo(function(arg){
			return function(elem){
				return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0
			}
		})

		blog = new Dexie('database blog')
		blog.version(1).stores({
			data: '++id, judul, isi, isi_html'
		})

		{% if page.halaman == 'tambah' %}
			$('.tambah').on('submit', function(x){
				x.preventDefault()
				blog.data.add({
					judul: $('.judul').val(),
					isi: $('.isi').val(),
					isi_html: marked($('.isi').val())
				}).then(function(){
					blog.data.orderBy('id').reverse().limit(1).each(function(x){
						location.href = 'tampil.html?' + x.id
					})
				})
			})
		{% endif %}

		{% if page.halaman == 'index' %}
			data_hasil = ''
			blog.data.orderBy('id').reverse().each(function(x){
				data_hasil += '<a href="tampil.html?' + x.id + '" class="list-group-item item-cari">' + x.judul + ' <span class="sembunyi">' + x.isi + '</span></a>'
			}).then(function(){
				$('.isi').html('<div class="list-group">' + data_hasil + '</div>')
			})
		{% endif %}

		{% if page.halaman == 'tampil' %}
			isi = ''
			blog.data.where({
				id: Number(location.search.substring(1))
			}).each(function(x){
				isi += '<p><strong>' + x.judul + '</strong></p>' + x.isi_html
			}).then(function(){
				$('.isi').html(isi)
			})
			$('.edit').attr('href', 'edit.html' + location.search)
			$('.hapus').click(function(){
				blog.data.where({
					id: Number(location.search.substring(1))
				}).delete().then(function(){
					location.href = 'index.html'
				})
			})
		{% endif %}

		{% if page.halaman == 'edit' %}
			blog.data.where({
				id: Number(location.search.substring(1))
			}).each(function(x){
				$('.judul').val(x.judul)
				$('.isi').val(x.isi)
			}).then(function(){
				$('.edit').on('submit', function(x){
					x.preventDefault()
					blog.data.update(Number(location.search.substring(1)), {
						judul: $('.judul').val(),
						isi: $('.isi').val(),
						isi_html: marked($('.isi').val())
					}).then(function(){
						location.href = 'tampil.html' + location.search
					})
				})	
			})
		{% endif %}

		$('.cari').on('keyup', function(){
			if ($('.cari').val() != ''){
				$('.item-cari').addClass('sembunyi')
				$('.item-cari').each(function(){
					if ($(this).is(":contains(" + $('.cari').val() + ")")) {
						$(this).removeClass('sembunyi')
					}
				})
			} else {
				$('.item-cari').removeClass('sembunyi')
			}
		})

		$('.hapus').each(function(){
			$(this).click(function(){
				$(this).parent().find('.form-control').val('')
				$('.item-cari').removeClass('sembunyi')
			})
		})
	</script>
</body>
</html>