<!DOCTYPE html>
<html>
<head>
	<title>Pembukuan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.navbar-fixed-bottom .table {
			margin-bottom: 0;
		}

		.navbar-fixed-bottom .table,
		.navbar-fixed-bottom td {
			border: none !important;
		}
	</style>
</head>
<body>
	<div class="container">
		{{ content }}
	</div>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/dexie/dexie.js"></script>
	<script>
		pembukuan = new Dexie('database pembukuan')
		pembukuan.version(1).stores({
			data: '++id, barang, jual, modal, untung, tanggal_lengkap, tanggal_bulan, tanggal_tahun'
		})

		list_tanggal_lengkap = []
		pembukuan.data.orderBy('id').each(function(x){
			if (!(list_tanggal_lengkap.indexOf(x.tanggal_lengkap) > -1)){
				list_tanggal_lengkap.push(x.tanggal_lengkap)
			}
		}).then(function(){
			console.log(list_tanggal_lengkap)
			kosong = []
			for (n in list_tanggal_lengkap){
				kosong.push(0)
			}
			console.log(kosong)
		})

		$('.tambah').on('submit', function(x){
			x.preventDefault()
			barang = $('.nama-barang').val()
			jual = Number($('.harga-jual').val()) * 1000
			modal = Number($('.modal').val()) * 1000
			untung = jual - modal
			tanggal = new Date()
			hari = tanggal.getDate()
			bulan = tanggal.getMonth() + 1
			tahun = tanggal.getYear() + 1900
			tanggal_lengkap = hari + '/' + bulan + '/' + tahun
			tanggal_bulan = bulan + '/' + tahun
			tanggal_tahun = tahun
			pembukuan.data.add({
				barang: barang,
				jual: jual,
				modal: modal,
				untung: untung,
				tanggal_lengkap: tanggal_lengkap,
				tanggal_bulan: tanggal_bulan,
				tanggal_tahun: tanggal_tahun
			}).then(function(){
				location.href = 'tambah.html'
			})
		})
	</script>
</body>
</html>